body {
  background: cornflowerblue;
  color: white;
  margin: 0;
}
h1 {
  text-align: center;
  font-size: 20px;
  color: black;
}
.hero__image-container {
  display: flex;
  justify-content: center;
  aling-items: center;
}
.im {
  width: 80%;
}
.button {
  background: white;
  border: 0.125rem solid black;
  border-radius: 1rem;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  letter-spacing: 0.125rem;
  font-weight: bold;
  cursor: pointer;
  margin: 1em;
  padding: 1em;
  transition: all 0.5s;
}
.hero__button:hover {
  box-shadow: 0 0.5rem 0.5rem 0 black;
  filter: brightness(125%);
  transform: scale(1.125);
}
